/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
@font-face {
  font-family: caviardreams;
  src: url('assets/fonts/caviardreams/CaviarDreams.ttf') format('truetype');
}
header, main, footer {

}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
